* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 200px;
}

.num {
    color: aqua;
    text-align: center;
    font-size: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.des, .ins{
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 40px;
}