* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.des, .ins{
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 30px;
}