* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    background-image: linear-gradient(to right, cyans, violet);
}

.login {
    display: block;
    width: 500px;
    height: 600px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;

}

.cancel {
    right: 0;
}

.cancel {
    font-size: 200%;

}