body {
    background-color: lightgray;
}
h1 {
color: red;
border: 3px solid black;
margin: 300px;
text-align: center;
font-size: 200%;
font-family:'Times New Roman', Times, serif;
}
h2 {
color: red;
border: 3px solid black;
margin: 300px;
text-align: center;
font-size: 200%;
font-family:'Times New Roman', Times, serif;
}
p {
color: blue;
text-align: center;
font-size: 150%;
font-family: 'Times New Roman', Times, serif;
}

pre {
color: blue;
border: 2px solid black;
padding: 20px;
margin: 300px;
text-align: center;
font-size: 150%;
font-family: 'Times New Roman', Times, serif;
}

a {
display: flex;
justify-content: center; /*chỉnh theo chiều ngang */
align-items: center; /*chỉnh theo chiều dọc*/

height: auto;
width: auto;
border: 2px solid black;
display: inline;
display: block;margin: 0 auto;
font-size: 200%;
text-align: center;
}

a img {
max-width: 100%;
max-height: 100%;
display: block;margin: 0 auto;
}

a:link {
color:green;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: purple;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}

/* a:link, a:visited {
    background-color: cyan;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: block;margin: 0 auto;
  }
  
  a:hover, a:active {
    background-color: blue;
  } */