body {
    background-color: lightgray;
  }
  h {
    color: blue;
    text-align: center;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  p {
    color: blue;
    text-align: center;
  }