body {
    background-color: lightgray;
  }
  h1 {
    color: red;
    border: 3px solid black;
    text-align: center;
    font-size: 200%;
    font-family:'Times New Roman', Times, serif;
  }
  h2 {
    color: red;
    border: 3px solid black;
    text-align: center;
    font-size: 200%;
    font-family:'Times New Roman', Times, serif;
  }
  p {
    color: blue;
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
  }

  pre {
    color: blue;
    border: 2px solid black;
    padding: 60px;
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
  }