body {
    background-color: lightgray;
}
h1 {
color: red;
border: 3px solid black;
display: inline-block;
position: relative;
left: 50%;
transform: translateX(-50%);
text-align: center;
font-size: 200%;
font-family:'Times New Roman', Times, serif;
}
h2 {
color: red;
border: 3px solid black;
display: inline-block;
position: relative;
left: 50%;
transform: translateX(-50%);
text-align: center;
font-size: 200%;
font-family:'Times New Roman', Times, serif;
}
p {
color: blue;
text-align: center;
font-size: 150%;
font-family: 'Times New Roman', Times, serif;
}

pre {
color: blue;
border: 2px solid black;
padding: 5px 5px;
display: block;margin: 0 auto;
text-align: center;
font-size: 150%;
font-family: 'Times New Roman', Times, serif;
}

.ytb {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000; 
}

.mail {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000;
}

.fb {
    border: 2px solid #000;
    font-size:  200%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);;
}

a img {
max-width: 100%;
max-height: 100%;
display: block;margin: auto auto;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
background-color: blue;
}